<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
{{>messages}}

<div class="container">
    <div class="container" id="header">
        <h1>Ridiculum Service</h1>
    </div>
    <h3>Do you know a good joke? - Add it here!</h3>
    <span class="a"><p> Setup:</p></span>
    <span class="a"><input id="setup" placeholder="setup"></span>
    <span class="a"> <p>Punchline:</p></span>
    <span class="a"> <input id="punchline" placeholder="punchline"></span>
    <span class="a" id="saveJoke"><button>Save</button></span>
    <h2>Jokes</h2>
    <dl id="jokes"></dl>

    <h2>See jokes from other Sites</h2>
    <select class="browser-default custom-select" id="otherSites" onchange="siteSelected()">
    </select>
    <dl id="otherJokes"></dl>



    <!--<ul id="otherSites"></ul>-->



</div>
<footer id="footer">
    <p>This site was created by: Oscar & Alexander</p>
</footer>


</body>
</html>
