<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>


{{>messages}}

<input class="setup">
<input class="punchline">
<button></button>


</body>
</html>
